//! **************************************************************************
// Written by: Map P.20131013 on Mon May 01 11:59:21 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "PB<1>" LOCATE = SITE "F6" LEVEL 1;
COMP "PB<2>" LOCATE = SITE "E4" LEVEL 1;
COMP "PB<3>" LOCATE = SITE "F5" LEVEL 1;
COMP "rst" LOCATE = SITE "N4" LEVEL 1;
SCHEMATIC END;

