//! **************************************************************************
// Written by: Map P.20131013 on Mon May 08 10:51:05 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sensor<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "sensor<1>" LOCATE = SITE "F6" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "rst" LOCATE = SITE "N4" LEVEL 1;
SCHEMATIC END;

